@tailwind base;
@tailwind components;
@tailwind utilities;

.light-shadow {
  box-shadow: -10px 10px 20px 0px hsla(0, 6%, 85%, 0.1);
}

.nav-link {
  @apply flex items-center justify-start max-lg:justify-center gap-4 p-4 text-lg leading-[25.2px];
}
.small-nav-link {
  @apply flex items-center justify-start gap-4 p-4 rounded-lg leading-[25.2px] text-lg;
}

@layer components {
  .responsive-text {
    @apply lg:text-lg md:text-base sm:text-sm;
  }
}

@media screen and (min-width: 400px) {
  .confirm {
    width: 75%;
    height: 75%;
  }
}

@media screen and (min-width: 520px) {
  .confirm {
    width: 70%;
    height: 68%;
  }
}
